:root {
    --main-color: #F1CBFF;
    --main-secondary-color: #FFD2AA;
    --main-heading-font: 'Poppins', sans-serif;
    --main-regular-font: 'Inter', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.product_details{
    background-color: #E8F9FE;
}
.product_details h4{
    font-size: 2rem;
    font-weight: 600
}
.arrow_icon{
    color:#ca3cff;
    font-size: 39px !important;
}
.product_details h3{
        font-size:2.2rem;
        font-weight: 700;
}
.product_details h5{  
      font-size: 2rem;
    font-weight: 800;}

    .product_details .add{
        padding:0 2rem;
        border: none;
        border-radius: 1.5rem;
        background: #FFD2AA;
        color: black;
        margin-left: 2rem;
    }
    .product_details .subtract{
        padding: 0 2rem;
        border: none;
        border-radius: 1.5rem;
        background: #F1CBFF;
        color: black;
        margin-right: 2rem;
    }
    .product_details button svg{
        color: black;
    font-size: 2rem !important;
    font-weight: 900 !important;
    }
    .product_details .buy_now{
        padding: 1.3rem 2.8rem;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    background: #FFD2AA;
    border-radius: 9px;
    margin: 0 30px;
    }


    .product_details .add_to_cart{
        padding: 1.3rem 2.8rem;
        font-size: 1.5rem;
        font-weight: 700;
        border: none;
        background: #F1CBFF;
        border-radius: 9px;
    }

    /* media query */
@media only screen and (max-width:1400px) {
    html {
        font-size: 60% !important;
    }
}
@media only screen and (max-width:1200px) {
    html {
        font-size: 58% !important;
    }
}


@media only screen and (max-width:998px) {
    html {
        font-size: 55% !important;
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 45% !important;
    }
}   